.navContainer {
    border-bottom: solid 3px #ffd7d7;
}

.navBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.navContainer img {
    width: 100%;
}

.navContainer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    list-style: none;
}

li {
    padding-right: 1%;
}

li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #4e5166;
}

li a:hover {
    color: #811d09;
}

li svg {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4e5166;
    cursor: pointer;
}

li svg:hover {
    color: #811d09;
}

.navBlock h2 {
    font-size: 1.1rem;
}
