.navContainer {
    border-bottom: solid 3px #ffd7d7;
    height: 10vh;
}

.navBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.navContainer img {
    width: 100%;
}

.navContainer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    width: 20%;
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #4e5166;
}

li a:hover {
    color: #fd2d01;
}

li svg {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4e5166;
    cursor: pointer;
}

li svg:hover {
    color: #fd2d01;
}
